<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DOANCNPM_1.Properties.Settings.DOAN2ConnectionString"
            connectionString="Data Source=LAPTOP-099VP89G;Initial Catalog=DOAN2;Integrated Security=True"
            providerName="Microsoft.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
